*{
    margin: 0;
    padding: 0;
}
html { 
    scroll-behavior: smooth; 
} 
img{
    max-width: 100%;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%
}
.status{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: left;
    grid-column: 2;
    grid-row: 1;
    border-radius: 20px;
    border: 1px solid white;
    height: 3vh;
    width: 15vw;
    margin: 5vh 38vh 1vh;
}
.statusp{
      display: block;
      font-family: 'Roboto';
      font-size: 15px;
      padding: 0.5vh 2vh;
}
.circle{
      height: 10px;
    width: 10px;
    background-color: rgb(0, 255, 21);
    border-radius: 50%;
    display: block;
    margin: 1vh;
}
.container{
    display: grid;
    grid-template-columns: 18% 50% 25%;
    grid-template-rows: repeat(61, 20vh);
    column-gap: 3vw;
    row-gap: 2vh;
    width: 100vw;
}
.grossbilder{
    height: 100vh;
    width: 100% !important;
    background-size: cover;
}
.bild1{
    opacity: 0.5;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1;
    z-index: -1;
}
.bild2{
    grid-row: 11;
    grid-column: 1/4;
    width: 100% !important;
    height: 100vh;
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.floating{
    display: block;
    float: left;
    padding: 0vh 1vh 4vh;
}
.list{
    width: 45%;
}
.info{
    width: 100%;
}
body {
    background-color: #0F0F0F;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.grid-2{
    grid-column: 2;
}
.header {
    grid-column: 1/4;
    grid-row: 1/5;
}
table {
    border-collapse: collapse;
    width: 20vw;
}

td {
  padding: 1vh 1vh 1vh;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th{
    text-align: left;
  border-bottom: 1px solid #ddd;
}

nav{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    grid-column: 1/4;
    grid-row: 1;
}
nav a{
    text-decoration: none;
    color: white;
font-size: 20px;
font-family: 'Roboto';
}
nav a:hover {
    color: rgb(174, 0, 243);
  }
.nav-links {
    width: 200px;
    grid-column: 1; 
    grid-row: 8;
    position: sticky;
    list-style-type: none;
    left: 5%;
    font-family: 'Roboto';
}
.nav-links p{
    font-family: 'Roboto', thin;
    font-size: 24px;
    padding: 0.5vh 0vh 5vh;
}
.nav-rechts {
    list-style-type: none;
    grid-column: 3; 
    grid-row: 8;
    position: sticky;
    font-family: 'Roboto';
}

li a{
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  line-height: 1.3;
  font-size: 15px;
}
li a:hover {
    color: rgb(174, 0, 243);
  }

.Summary{
    text-align: left;
    grid-row: 4;
    padding-left: 5%;
    grid-column: 1/4;
}
.Summary h1{
    color: white;
    font-size: 64px;
    font-family: 'Roboto', bold;
}

.Summary p{
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;;
    width: 50vw;
    padding: 1vh;
}
.content{
    grid-column: 1/3;
    color: white;
    text-align: left;
    width: 100vw;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}
.CaseStudy{
    grid-column: 1/3;
    grid-row: 7;
    position: relative;
    padding: 0vh 5vh 0vh;
}
.CaseStudy h1{
    font-size: 64px;
    font-family: 'Roboto', bold;
}
.Introduction{
    grid-column: 2;
    grid-row: 8;
}
.Introduction h2{
    font-size: 35px;
    text-align: left;
    font-family: 'Roboto', bold;
}
.Introduction p{
    text-align: left;
    font-family: 'Roboto', thin;
    line-height: 1.8;
    padding-top: 5vh;
    font-size: 18px;
}
.Introduction img{
    margin-left: 0;
    padding-top: 10vh;
    width: 50vw;
    position: absolute;
    background-size: cover;
}
.Ideation{
    font-family: 'Roboto', bold;
    grid-column: 2;
    grid-row: 18;
}
.Ideation p{
    padding-top: 5vh;
    line-height: 2;
}
.Ideation img{
    display: block;
    float: left;
    width: 15vw;
    padding: 12vh 3vh 5vh;
}
.split-grid{
    display: block;
    float: left;
    padding: 0vh 1vh 4vh;
}
.bild8{
    grid-row: 19;
    grid-column: 1/4;
    width: 100vw;
}
.Persona{
    float: left;
    text-align: left;
    padding-top: 10vh;
    display: block;
    font-family: 'Roboto', sans-serif;
    grid-row: 22;
}
.Persona h2{
    font-family: 'Roboto', bold;
}
.Persona p{
    padding-top: 5vh;
    line-height: 1.8;
}
.Persona Img{
    display: block;
    float: left;
    padding-top: 10vh;
    width: 25vw;
}
.DigitalDesign{
    float: left;
    text-align: left;
    display: block;
    font-family: 'Roboto', sans-serif;
    grid-row: 28;
}
.DigitalDesign p{
    padding-top: 5vh;
    line-height: 1.8;
}
.carousel{
    display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}
@keyframes "bannermove" {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
#carousel{
    padding-top: 5vh;
    float: left;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}
#carousel .Fotobanner{
    display: inline-block;
}
.Fotobanner{
    display: block;
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 29/32;
}
.Prototyping{
    float: left;
    text-align: left;
    display: block;
    font-family: 'Roboto', sans-serif;
    grid-row: 31;
}
.Prototyping p{
    padding-top: 5vh;
    line-height: 1.5;
}
.bild3{
    grid-column: 1/4;
    grid-row: 33;
    width: 100vw;
    height: 100%;
    padding: 0vh 30vh;
}
.bild4{
    grid-row: 38;
    grid-column: 1/4;
}
.Results{
    float: left;
    text-align: left;
    padding-top: 10vh;
    font-family: 'Roboto', sans-serif;
    grid-row: 44;
}
.Results p{
    padding-top: 5vh;
}
.Results Img{
    padding-top: 5vh;
}
.bild5{
    grid-row: 46;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.danke{
    grid-row: 52;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 30px;
}
.nextstudies{
    grid-row: 54; 
    grid-column: 1/4;
    width: 70%;
    font-family: 'Roboto';
    padding: 0vh 35vh;
}
.nextstudies h1{
    font-size: 52px;
    padding: 1vh 0vh 10vh;
    line-height: 0;
}
.tang p{
    text-decoration-line: overline underline; 
    padding: 3vh 0vh 0vh;
}
.herzfroh p{
    text-decoration-line: overline underline; 
    padding: 3vh 0vh 0vh;
}
.herzfroh a{
    text-decoration: none;
    color: white;
}
.herzfroh a:hover{
    color: rgb(174, 0, 243);
}
.herzfroh{
    width: 25vw;
    height: 15vh;
}
.tang{
    width: 35vw;
    height: 10vh;
}
.tang a{
    text-decoration: none;
    color: white;
}
.tang a:hover{
    color: rgb(174, 0, 243);
}
.end{
    padding: 5vh;
    line-height: 3vh;
    font-family: 'Roboto';
    background-color: #0F0F0F;
    height: 30vh;
}
.end h1{
    font-size: 52px;
}
.end p{
    padding-top: 5vh;
    font-size: 20px;
}

.resume{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    background-color: #0F0F0F;
    align-items: center;
    font-family: 'Roboto';
    text-decoration: underline overline;
}
.resume a{
    text-decoration: none;
    color: white;
    width: 23vw;
    word-spacing: 15vw;
}
.resume a:hover{
    color: rgb(174, 0, 243);
}
.footer{
    position: relative;
    grid-row: 58;
    grid-column: 1/4;
    height: 30vh;
    padding: 15vh 0vh 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.untenfooter{
    background-color: black;
    padding: 0vh 5vh 0vh;
    height: 30vh;
}
.footer p, h1{
    color: white;
}
.links{
    display: flex;
    float: left;
    grid-column: 1;
    grid-row: 2;
    flex-direction: column;
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
}
.links p{
    padding: 2vh 0vh 0vh;
    line-height: 8px;
}
.links img{
    width: 3vw;
}
.mitte{
    display: flex;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    flex-direction: column;
}
.mitte p{
    padding: 0vh 0vh 2vh;
}
.mail{
    border-radius: 30px;
    color: white;
    border: 1px solid white;
    float: left;
    display: flex;
    padding: 2vh;
    grid-row: 2;
}
.mail a{
    padding: 0vh 1vh 0vh;
    text-decoration: none;
    color: white;
}
.mail a:hover{
    color: rgb(174, 0, 243);
}
.mail img{
    height: 2vh;
}
.rechts{
    display: flex;
    grid-column: 3;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    flex-direction: column;
}
.socialmedia{
    display: flex;
    padding: 2vh;
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
body{
    width: 10vw;
    height: 100%;
}
    /* Styles for Desktops */
  }