*{
    margin: 0;
    padding: 0;
}
html { 
    scroll-behavior: smooth; 
} 
.status{
    height: 10px;
  width: 10px;
  background-color: rgb(0, 255, 21);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
}
img{
    max-width: 100%;
}
body {
    background-color: #0F0F0F;
}
.Summary{
    color: white;
    width: 130vh;
    text-align: left;
    grid-row: 4;
    padding-left: 20%;
}
.Summary h1{
    font-size: 64px;
    font-family: 'Roboto', bold;
}
.Summary h2{
    text-align: right;
    font-family: 'Roboto', bold;
    right: 20%;
}
.Summary p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;;
    width: 100vh;
}
.end{
    grid-column: 1;
    grid-row: 1/3;
    padding: 5vh;
    line-height: 3vh;
    font-family: 'Roboto';
    background-color: #0F0F0F;
}

.resume{
    grid-column: 2/3;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0F0F0F;
    align-items: center;
}
.footer{
    background: black;
    position: relative;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 3vw;
    row-gap: 2vh;
    padding: 15vh 0vh 20vh;
}
.footer p, h1{
    color: white;
}
.links{
    display: flex;
    float: left;
    grid-column: 1;
    grid-row: 3;
    padding: 0vh 5vh;
    flex-direction: column;
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
}
.links img{
    width: 5vw;
    position: center;
    padding: 0vh 5vh 3vh;
}
.mitte{
    display: flex;
    grid-column: 2;
    grid-row: 3;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    flex-direction: column;
    padding: 0vh 5vh 3vh;
}
.mail{
    border-radius: 30px;
    color: white;
    border: 1px solid white;
    float: left;
    display: flex;
    padding: 1vw;
    grid-row: 4;
}
.rechts{
    display: flex;
    grid-column: 3;
    grid-row: 3;
    justify-content: center;
    align-items: center;
}